[submodule "smoos-rs/rust-server"]
	path = smoos-rs/rust-server
	url = https://github.com/speyejack/smo-multi-rs.git
	branch = json-api
[submodule "smoos-cs/csharp-server"]
	path = smoos-cs/csharp-server
	url = https://github.com/Sanae6/SmoOnlineServer.git
