[submodule "SMOOS-RS/rust-server"]
	path = SMOOS-RS/rust-server
	url = https://github.com/speyejack/smo-multi-rs.git
	branch = json-api
[submodule "SMOOS-CS/csharp-server"]
	path = SMOOS-CS/csharp-server
	url = https://github.com/Sanae6/SmoOnlineServer.git
